<html>
   <body>
   
      <table>
      <tr><th>Restaurant</th></tr>
      <tr>Showing <%=c.length%> document(s)</tr>
      <% for (var i = 0; i < c.length; i++) { %>
        <tr>
          <td><%= c[i].name %></td>
        </tr>
      <% } %>
    </table>

   </body>
</html>
